<%- include('partials/header.ejs'); -%>
  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>
  <div class="box">
    <% for(let item of newListItems){%>
      <div class="item">
        <input type="checkbox">
        <p>
          <%= item %>
        </p>
      </div>
      <% } %>
        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
          <button type="submit" name="list" value=<%=listTitle %> >+</button>
        </form>
  </div>
  <%- include('partials/footer.ejs'); -%>